 <!--ng-model="video" -->
<rx-player video-source="ctrl.videoSource" #player-ctrl yt-fullscreen>
    <player-panel  class="bottom-panel ng-show">
        <player-progress-bar
            hover-indicator
            player="playerCtrl.player$">
        </player-progress-bar>
        <div class="controls">
            <play-pause-control player="playerCtrl.player$"></play-pause-control>
            <volume-control player="playerCtrl.player$"></volume-control>
            <time-control player="playerCtrl.player$"></time-control>
            <!--<span class="control-element" show-if-full-screen-enabled  style="float:right">
                <player-toggle-fullscreen>
                    <i show-if-fullscreen=true class="fa fa-expand"></i>
                    <i show-if-fullscreen=false class="fa fa-compress"></i>
                </player-toggle-fullscreen>
            </span>-->
            <speed-control player="playerCtrl.player$"></speed-control>
            <!--<span class="control-element dropdown-control" uib-dropdown style="float:right">
                <div class="dropdown-toggle" uib-dropdown-toggle><span player-current-quality intended-quality show-real-auto >Auto</span></div>
                <ul class="dropdown-control-options dropdown-menu">
                    <li player-repeat-available-quality ng-class="{'active': $quality == video.getHumanIntendedPlaybackQuality()}">
                        <a dropdown-toggle player-set-quality="$quality">{{$quality}}</a>
                    </li>
                </ul>
            </span>-->
        </div>
    </player-panel>
</rx-player>
