/* component that shows the current video's volume */
pleier player-volume-horizontal {
    display: block;
}

/* transcluded elements as 'inline-block' to fit better inside the container */
pleier player-volume-horizontal .ng-transclude {
    display: inline-block;
}

/* gray bar that represents the 100% of selectable volume for the video */
pleier player-volume-horizontal .hr-yt-volume-hr-bar {
    background-color: rgb(143, 143, 143);
    display: inline-block;
    height: 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    position: relative;
    width: 40px;
}

/* small white line at the end of the red line */
/* works as a handle to change the volume */
pleier player-volume-horizontal .hr-yt-volume-hr-bar .hr-yt-handle {
    background-color: white;
    height: 11px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 3px;
    z-index: 11;
}

/* red bar that represents the user selected amount of volume for the video */
pleier player-volume-horizontal .hr-yt-volume-hr-bar .hr-yt-setted {
    background-color: red;
    height: 100%;
    position: absolute;
    top:0;
    width: 0;
    z-index: 9;
}
