/* main component */
pleier {
    display: block;
    position: relative;
    /* this css property makes the text inside the player non-selectable */
    user-select: none;
}

/* universal reset for elements inside the player */
pleier * {
    /* uncomment for layout debugging purposes */
    /* box-shadow: 0 0 1px gold; */
    box-sizing: border-box;
}
